:root {
    --color-bg: #44365C;
    --color-white: #fff;
    --color-black: #000;
    --color-content: #454347;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: var(--color-bg);
}

.container {
    background-color: var(--color-white);
    width: 400px;
    margin: 5rem auto;
    border-radius: 5px;
}

.container__content {
    width: 70%;
    margin: 5rem auto;
    padding-bottom: 5rem;
}

.content__heading {
    padding-top: 5rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.main__content {
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: var(--color-content);
    margin-bottom: 2rem;
}

.bottom__input {
    height: 2.7rem;
    width: 100%;
    padding-left: 1rem;
    color: var(--color-content);
    margin-bottom: .7rem;
}

.content__btn {
    display: flex;
    justify-content: center;
}

.bottom__btn {
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: .9rem;
}




